services:
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    user: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 10
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432

 
#volumes:
 # pgdata: